.task-container{
    background-color: #444;
    display: flex;
    align-items: center;
    color: #eee;
    margin: 8px 0;
    padding: 15px 20px;
    border-radius: 5px;
    justify-content: space-between;

}

.task-title{
    cursor: pointer;
}

.remove-task-button, .info{
    background-color: #444;
    bottom: none;
    font-size: 16px;
    color: #7fff00;
    border: none;
    cursor: pointer;
}